:root {
  --background_start_rgb: 0, 0, 0;
  --background_end_rgb: 0, 0, 0;

  --primary_glow: radial-gradient(rgba(61, 169, 173, 0.274), rgba(1, 65, 255, 0));
  --secondary_glow: linear-gradient(
    to bottom right,
    #01f7ff4d,
    rgba(33, 134, 121, 0.089),
    #01f7ff4d
  );

  --callout_rgb: 20, 20, 20;
  --callout_border_rgb: 108, 108, 108;
  --card_rgb: 100, 100, 100;
  --card_border_rgb: 200, 200, 200;
  --actual_yellow:#d9c301 ;
  --00486B:#dfd36eab ;
  --yellow: #01afff; 
  --light_yellow: #80b5ced5; 
  --dark: rgb(0, 0, 15); 
  --borderRadius:7px;
  --green: #01a001be;
  --blue: rgb(1, 1, 85); 

  --card_back: #2a4d5254;

  --card_back: rgba(0, 0, 34, 0.384);

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Brush Script MT', 'Segoe UI', sans-serif;
  color: aliceblue;
  font-size: 16px;
}

body {
  background-color: var(--dark);
  }
p{
  font-size: 16px;
}
a{
  font-size: 16px;
}
h2{
  font-size: 24px !important;
}
article{
  float: left;
}
aside{
  float: right;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
