.about{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #f4f4f42f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about article{
  width: 40%;
  text-align: center;
  height: 100%;
  padding: 3%;
}
.about aside{
  width: 60%;
  padding: 4px 5%;
}
.about img{
  height: 100% !important;
  width: auto !important;
}

@media only screen and (max-width: 1000px) {
  .about{
    height: 450px;
  }
}
@media only screen and (max-width: 700px) {
  .about{
    height: 680px;
    display: block;
    text-align: center;
  }
  .about article{
    width: 100%;
    height: auto
  }
  .about aside{
    width: auto;
  }
  .about img{
    height: 200px !important;
  }
}



/* Define unique styles for each class */
.textspan {
  font-weight: bold;
  color: #53ff58; /* green color */
}

.link {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
  font-size: 18px;
}

/* Style the paragraph */
.about p {
  font-size: 16px;
  line-height: 1.5;
}

/* Style the link on hover */
.link:hover {
  color: var(--actual_yellow); /* orange color */
}
