.header{
  width: 100%;
  padding :15px 14px;
  box-shadow: 5px 7px #88888821;
  align-items: center;
  display: flex;
}
.header article{
  width: 30%;
  font-weight:bolder;
  font-size:x-large;
}
.header aside{
  width: 70%;
  text-align: right !important;
}
.header aside a {
  margin-right: 15px !important;
}
.header a:hover{
  color:var(--yellow);
  font-size: large;
}
.header a.active{
  color:var(--actual_yellow);
  text-decoration:dashed;
  font-weight: bold;
}
@media (prefers-color-scheme: dark) {

}

