
.App {
  align-items: center;
  height: 100vh;
  position: relative; 
  padding: 1% 7%;
}

.App .fullPage{
  width: 100%;
  overflow: hidden;
  height: 100%;
  border-radius: 20px;
}

.App .fullPage .header{
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  height: 10%;
  overflow: hidden;
  box-shadow: 4px 4px rgb(3, 0, 19);
}

.App .fullPage .content{
  background: linear-gradient(
    to bottom,
    transparent, #84ff650c
  )
  #020c1848;
  padding: 0 2% 5px 5%;
  width: 100%;
  overflow-y: scroll;
  height: 83%;
  border-left: 1px solid rgba(172, 255, 47, 0.05);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
} 
.App .fullPage .footer{
  border-left: 1px solid rgba(172, 255, 47, 0.05);
  border-right: 1px solid rgba(172, 255, 47, 0.05);
  border-bottom: 1px solid rgba(172, 255, 47, 0.05);
  background: rgb(0, 0, 31);
  height: 7%;
  padding: 5px 10px ;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  padding: 7px 0px;
}


/* width */
.App .fullPage .content::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.App .fullPage .content::-webkit-scrollbar-track {
  background: #70ac0031;
}

/* Handle */
.App .fullPage .content::-webkit-scrollbar-thumb {
  background: rgba(205, 205, 50, 0.511);
  border-radius: 20%;
  height: 5px !important;
}

/* Handle on hover */
.App .fullPage .content::-webkit-scrollbar-thumb:hover {
  background: #11958f;
}


#back_container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -99999999999999;
}


@media (max-width: 1000px) {
  .App .fullPage .header{
    height: 10%;
  }
  .App .fullPage .content{
    height: 83%;
  } 
  .App .fullPage .footer{
    height: 7%;
  }  
}







@media (max-height: 500px) {
  .App .fullPage .header{
    height: 11%;
  }
  
  .App .fullPage .content{
    height: 80%;
  } 
  .App .fullPage .footer{
    height: 9%;
  }  
}
@media (max-height: 450px) {
  .App .fullPage .header{
    height: 12%;
  }
  
  .App .fullPage .content{
    height: 79%;
  } 
  .App .fullPage .footer{
    height: 9%;
  }  
}
@media (max-height: 350px) {
  .App .fullPage .header{
    height: 40px;
  }
  
  .App .fullPage .content{
    height: calc(100% - 40px - 40px);
  } 
  .App .fullPage .footer{
    height: 40px;
  }  
}
@media (min-height: 600px) {
  .App .fullPage .header{
    height: 50px;
  }
  
  .App .fullPage .content{
    height: calc(100% - 50px - 40px);
  } 
  .App .fullPage .footer{
    height: 40px;
  }  
}




@media (max-width: 450px) {
  .App {
    padding: 1% 0%;
  }
  .App .fullPage{
    overflow-x: hidden;
  }  
}
